 .linkl{
    text-decoration: none;
    color: black;
}
 .linkl:hover{
    border: 1px solid gray;;
    border-radius: 1vh;
    padding: 1vh;
}
.td{
    text-decoration: none;
    text-align: center;
}
