.bb{
    border-bottom: 1px solid rgba(172, 170, 170, 0.39);
}
.poi{
    border: none;
    resize: none;
}
.post{
    padding: .4vh;
    border-radius: 3vh;
    width: 10vh;
}
#havatar{
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
}